/**
Site: G20;

*/

/**
 * Table of Contents
 * 1.0 - Reset CSS
 * 2.0 - General
 	* 2.1 - Sections
 	* 2.2 - Buttons
 	* 2.3 - Backgrounds
 	* 2.4 - Parallax
 	* 2.5 - Headers
 	* 2.6 - Overlays
 * 3.0 - Buenos Aires
 * 4.0 - Distancias
 * 5.0 - Destacados
 * 6.0 - Atributos
 * 7.0 - Cumbre
 * 8.0 - En Argentina
 * 9.0 - Quote Presidente
 * 10.0 - Quote General
 * 11.0 - Fotos de familia
 * 12.0 - 
 * 12.0 - 
 * 14.0 - Responsive
 * 15.0 - Full page scroll + parallax

 */


/* =====================
   1.0 Reset css
   ===================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Montserrat', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
	max-width: 100%;
}


/* =====================
    2.0 General
   ===================== */

/* 2.1 Sections
------------------------
*/



.bsas-ciudad,
.bsas-distancias,
.bsas-destacados,
.bsas-atributos-uno,
.bsas-atributos-dos,
.bsas-atributos-tres,
.bsas-atributos-cuatro,
.bsas-atributos-cinco,
.bsas-atributos-seis,
.bsas-atributos-siete,
.bsas-atributos-ocho,
.bsas-atributos-nueve,
.cumbrelid,
.enarg,
.quotepresidente,
.quotegral,
.impactolobal,
.continuidad

 {

	min-height: 100vh;
	background-size: cover;
    background-position: center center;

}


/* 2.2 Buttons
------------------------
*/




/* 2.3 Backgrounds
------------------------
*/



.bsas-ciudad {
	background-image: url(../img/buenos-aires/backgrounds/bg-ciudad.jpg);
}


/*

.bsas-distancias {
	background-image: url(../img/buenos-aires/backgrounds/bg-distancias.jpg);
}




.bsas-atributos .bsas-atributos-uno {
	background-image: url(../img/buenos-aires/backgrounds/bg-atributos-uno.jpg);
}

.bsas-atributos .bsas-atributos-dos {
	background-image: url(../img/buenos-aires/backgrounds/bg-atributos-dos.jpg);
}
.bsas-atributos .bsas-atributos-tres {
	background-image: url(../img/buenos-aires/backgrounds/bg-atributos-tres.jpg);
}
.bsas-atributos .bsas-atributos-cuatro {
	background-image: url(../img/buenos-aires/backgrounds/bg-atributos-cuatro.jpg);
}
.bsas-atributos .bsas-atributos-cinco {
	background-image: url(../img/buenos-aires/backgrounds/bg-atributos-cinco.jpg);
}
.bsas-atributos .bsas-atributos-seis {
	background-image: url(../img/buenos-aires/backgrounds/bg-atributos-seis.jpg);
}
.bsas-atributos .bsas-atributos-siete {
	background-image: url(../img/buenos-aires/backgrounds/bg-atributos-siete.jpg);
}
.bsas-atributos .bsas-atributos-ocho {
	background-image: url(../img/buenos-aires/backgrounds/bg-atributos-ocho.jpg);
}
.bsas-atributos .bsas-atributos-nueve {
	background-image: url(../img/buenos-aires/backgrounds/bg-atributos-nueve.jpg);
}



.cumbrelid {
	background-image: url(../img/cumbre/backgrounds/bg-cumbre.jpg);
}

.enarg {
	background-image: url(../img/enarg/backgrounds/bg-enarg.jpg);
}

*/

.quotepresidente {
	background-color: #fff;
	background-image: url(../img/general/mandalaoscuro.png);
	background-size: 50%!important;
}

.quotegral {
	background: #6b1a89; /* Old browsers */
	background-image: url(../img/general/mandala-big.png);
	background: -moz-linear-gradient(45deg, #6b1a89 0%, #2b67b8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #6b1a89 0%,#2b67b8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #6b1a89 0%,#2b67b8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b1a89', endColorstr='#2b67b8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-image: url(../img/general/mandala-big.png), linear-gradient(45deg, #6b1a89 0%,#2b67b8 100%);
}


/*
.impactolobal {
	background-image: url(../img/impactolobal/backgrounds/bg-impactolobal.jpg);
}

.continuidad {
	background-image: url(../img/continuidad/backgrounds/bg-continuidad.jpg);
}
*/

/* 2.4 Parallax
------------------------
*/


.bsas-atributos-uno,
.bsas-atributos-dos,
.bsas-atributos-tres,
.bsas-atributos-cuatro,
.bsas-atributos-cinco,
.bsas-atributos-seis,
.bsas-atributos-siete,
.bsas-atributos-ocho,
.bsas-atributos-nueve,
.cumbrelid,
.enarg,
.quotepresidente,
.quotegral,
.impactolobal,
.continuidad {
	height: 100vh;
	/*background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}



/* 2.5 Headers
------------------------
*/

.bsas-header {
	color: #6cb0b9;
	text-transform: uppercase;
	font-style: italic;
    font-size: 36px;
    font-weight: 900;
}

.bsas-header::after {
	content: "";
	width: 62px;
	height: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
    display: block;
    background-color: #a1c177;
}

.enarg-header {
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-style: italic;
    font-size: 36px;
    font-weight: 900;
}

.enarg-header::after {
	content: "";
	display: block;
	width: 62px;
	height: 10px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 20px;
    background-color: #a1c177;
}

.impglobal {
    padding-bottom: 20px;
    color: #6cb0b9;
    text-transform: uppercase;
    font-style: italic;
    font-size: 28px;
    font-weight: 900;
}


/* 2.6 Overlays
------------------------
*/

.bsas-logo {
	position: absolute;
	top: 100px;
	left: 7%;
    width: 93%;
    height: 180vh;
	background-image: url(../img/general/mandala.png);
	background-size: cover;
    background-repeat: no-repeat;
}

.destacados-logo {
	position: absolute;
	top: 20px;
	left: -50px;
    width: 50%;
    height: 76vh;
    z-index: 1;
	background-image: url(../img/general/mandala.png);
	background-size: cover;
    background-repeat: no-repeat;
}

/* =====================
    3.0 Buenos Aires
   ===================== */

.bsas-ciudad {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bsas-ciudad .bsas-header {
	margin-top: 205px;
}


.bsas-ciudad p {
	font-size: 16px;
    line-height: 20px;
	color: #fff;
}

.bsas-iconos {
	width: 43%;
    position: absolute;
    left: 40%;
    bottom: 20%;
}



/* =====================
    4.0 Distancias
   ===================== */

.bsas-distancias {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.ba-distancias-left,
.ba-distancias-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bsas-distancias p {
	font-size: 16px;
    line-height: 20px;
	color: #fff;
}

.ba-distancias-right {
	text-align: center;
}

.bsas-distancias img{
	max-width: 360px;	
}

/* =====================
    5.0 Destacados
   ===================== */

.bsas-destacados {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.bsas-destacados-img {
	height: 650px;
}

.ba-destacados-burbujas {
	background-size: cover;
    background-position: center center;
    position: absolute;
}

.ba-destacados-burbujas:nth-of-type(1),
.ba-destacados-burbujas:nth-of-type(2) {
	width: 240px;
	height: 240px;
	border-radius: 120px;
}

.ba-destacados-burbujas:nth-of-type(3),
.ba-destacados-burbujas:nth-of-type(4) {
	width: 180px;
	height: 180px;
	border-radius: 90px;
}

.ba-destacados-burbujas:nth-of-type(1) {
	background-image: url(../img/destacados/backgrounds/tango.jpg);
	right: 15px;
    top: 30px;
}

.ba-destacados-burbujas:nth-of-type(2) {
	background-image: url(../img/destacados/backgrounds/puertomadero.jpg);
	top: 190px;
}

.ba-destacados-burbujas:nth-of-type(3) {
	background-image: url(../img/destacados/backgrounds/futbol.jpg);
	top: 300px;
    right: 30px;
}

.ba-destacados-burbujas:nth-of-type(4) {
	background-image: url(../img/destacados/backgrounds/teatros.jpg);
	top: 450px;
    left: 90px;
}

.bsas-destacados-img,
.bsas-destacados-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bsas-destacados-info h3 {
	display: inline-block;
	margin-top: 40px;
	padding: 5px 10px 2px 10px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
}

.bsas-destacados-info p {
	margin-top: 20px;
}

.bsas-destacados-info div:nth-of-type(1) h3{
	background-color: #a1c373;
}

.bsas-destacados-info div:nth-of-type(2) h3{
	background-color: #0093d7;
}

.bsas-destacados-info div:nth-of-type(3) h3{
	background-color: #1269b0;
}


/* =====================
    6.0 Atributos
   ===================== */

.bsas-atributos-uno,
.bsas-atributos-dos,
.bsas-atributos-tres,
.bsas-atributos-cuatro,
.bsas-atributos-cinco,
.bsas-atributos-seis,
.bsas-atributos-siete,
.bsas-atributos-ocho,
.bsas-atributos-nueve {
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.ba-atributos-info {
	width: 25%;
	margin: auto;
}

.ba-atributos-info-larga {
	width: 50%;
	margin: auto;
}

.ba-atr-numeros {
	text-align: center;
	font-size: 100px;
	font-weight: 700;
	color: #01babd;
}

.bsas-atributos-uno .ba-atr-numeros {
	color: #489ab1;
}

.bsas-atributos-dos .ba-atr-numeros {
	color: #3F8FA7;
}

.bsas-atributos-tres .ba-atr-numeros {
	color: #275ba0;
}

.bsas-atributos-cuatro .ba-atr-numeros,
.bsas-atributos-siete .ba-atr-numeros {
	color: #d17220;
}

.bsas-atributos-cinco .ba-atr-numeros {
	color: #993e8b;
}

.bsas-atributos-seis .ba-atr-numeros {
	color: #c93f50;
}

.ba-atr-bajada {
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	color: #fff;	
}

.ba-atr-data {
	margin-top: 10px;
	text-align: center;
	font-size: 19px;
    line-height: 21px;
	color: #fff;	
}


/* =====================
    7.0 Cumbre de líderes
   ===================== */

.cumbrelid {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cumbrelid .cumbre-left {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cumbrelid .cumbre-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.cumbrelid .cumbre-left p {
	font-size: 70px;
	font-weight: 900;
	font-style: italic;
	color: #a1c176;
}

.cumbrelid .cumbre-left span {
	display: block;
	margin: 5px 0;
	color: white;
	text-transform: uppercase;
}

.cumbrelid .cumbre-right p{
	margin-bottom: 14px;
	color: white;
}

/* =====================
    8.0 En Argentina
   ===================== */

.enarg {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.enarg-left,
.enarg-right {
	text-align: center;
}

.enarg p {
	font-size: 70px;
	font-weight: 900;
	font-style: italic;
}

.enarg .yellow {
	color: #f3d600;
}

.enarg .green {
	color: #cad225;
}

.enarg .ogreen {
	color: #a1c176;
}

.enarg .blue {
	color: #6cb0b9;
}

.enarg span {
	display: block;
	margin: 5px 0;
	font-size: 18px;
	color: white;
	text-transform: uppercase;
}

.enarg .small {
	font-size: 14px;
}

/* =====================
    9.0 Quote Presidente
   ===================== */

.quotepresidente {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.quotepresidente .imgpresidente {
    height: 250px;
    width: 250px;
    overflow: hidden;
	border-radius: 50%;
}

.quotepresidente .quote-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.quotepresidente .quote-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 65px;
}

.quotepresidente .quote-right::after {
	content: url('../img/quotepresidente/icono-smaller.png');
	position: absolute;
	right: 0;
	top: 36px;
}

.quotepresidente .quote-right p {
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 20px
}

.quotepresidente .quote-right span {
	font-size: 16px;
	font-weight: 700;
	color: #6cb0b9;
}

/* =====================
    10.0 Quote General
   ===================== */

.quotegral {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.quotegral .enarg-header {
	font-weight: 700;
    line-height: 45px;
}

/* =====================
    11.0 Fotos de familia
   ===================== */

.familypic .row {
	position: relative;
}

.fp-bajada {
    z-index: 1;
    width: 400px;
    position: absolute;
    top: 45px;
    padding: 35px;
    background-color: #fff;
}

.fp-bajada .bsas-header {
	font-size: 20px;
}

.fp-bajada .bsas-header::after {
    width: 40px;
    height: 6px;
}

.fp-bajada p {
	font-size: 12px;
    line-height: 13px;
}

/* =====================
    12.0 Impacto Global
   ===================== */

.impactolobal {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.impinfo {
	margin-bottom: 50px;
}

.impinfo p {
	color: #fff;
}

.impnumeros p {
	font-size: 70px;
	font-weight: 900;
	font-style: italic;
}


.impnumeros .yellow {
	color: #f3d600;
}

.impnumeros .green {
	color: #cad225;
}

.impnumeros .ogreen {
	color: #a1c176;
}

.impnumeros .blue {
	color: #6cb0b9;
}

.impnumeros span {
	display: block;
	margin: 5px 0;
	font-size: 18px;
	color: white;
	text-transform: uppercase;
}


/* =====================
    13.0 Continuidad
   ===================== */

.continuidad {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.continuidad p {
	color: #fff;
}

.contidest {
	display: inline-block;
	position: relative;
  	float: right;
  	margin-top: 50px;
    padding: 20px;
	background-color: #fff;
}

.contidest h4 {
	color: #111;
    font-weight: 700;
    text-transform: uppercase;
}

.contidest p {
	color: #111;
}

/* =====================
    14.0 Responsive
   ===================== */

/* 14.1 Mobile
------------------------
*/



@media screen and (min-width: 992px) and (max-width: 1199px) {


/* Infografía 1 */

	/* Buenos Aires */

	.bsas-ciudad .bsas-header {
	    margin-top: 166px;
	}

	.bsas-iconos {
	    bottom: 15%;
	}

	/* Atributos */

	.ba-atr-numeros {
		font-size: 90px;
	}

	.ba-atr-bajada {
	    font-size: 36px;
	}
	
}



@media screen and (max-width: 991px) {


/* Infografía 1 */

	/* Buenos Aires */
	
	.bsas-ciudad {
		margin-top: -2px;
	}

	.bsas-ciudad .bsas-header {
	    margin-top: 110px;
	    color: #fff;
	}

	.bsas-ciudad .bsas-mapa {
		padding-top: 80px;
	}

	.bsas-ciudad .bsas-dets {
		padding-bottom: 80px;
	}

	.bsas-iconos {
		width: 55%;
		left: 23%;
		bottom: 18%;
	}

	/* Atributos */

	.ba-atr-numeros {
		font-size: 76px;
	}

	.ba-atr-bajada {
	    font-size: 30px;
	}


	/* Imágenes Parallax */

	.parallax img {
		display: none;
	}

	.bsas-distancias {
		background-image: url(../img/buenos-aires/backgrounds/bg-distancias.jpg);
	}

	.bsas-atributos .bsas-atributos-uno {
		background-image: url(../img/buenos-aires/backgrounds/bg-atributos-uno.jpg);
	}

	.bsas-atributos .bsas-atributos-dos {
		background-image: url(../img/buenos-aires/backgrounds/bg-atributos-dos.jpg);
	}

	.bsas-atributos .bsas-atributos-tres {
		background-image: url(../img/buenos-aires/backgrounds/bg-atributos-tres.jpg);
	}

	.bsas-atributos .bsas-atributos-cuatro {
		background-image: url(../img/buenos-aires/backgrounds/bg-atributos-cuatro.jpg);
	}

	.bsas-atributos .bsas-atributos-cinco {
		background-image: url(../img/buenos-aires/backgrounds/bg-atributos-cinco.jpg);
	}

	.bsas-atributos .bsas-atributos-seis {
		background-image: url(../img/buenos-aires/backgrounds/bg-atributos-seis.jpg);
	}

	.bsas-atributos .bsas-atributos-siete {
		background-image: url(../img/buenos-aires/backgrounds/bg-atributos-siete.jpg);
	}

	.bsas-atributos .bsas-atributos-ocho {
		background-image: url(../img/buenos-aires/backgrounds/bg-atributos-ocho.jpg);
	}

	.bsas-atributos .bsas-atributos-nueve {
		background-image: url(../img/buenos-aires/backgrounds/bg-atributos-nueve.jpg);
	}



	.cumbrelid {
		background-image: url(../img/cumbre/backgrounds/bg-cumbre.jpg);
	}

	.enarg {
		background-image: url(../img/enarg/backgrounds/bg-enarg.jpg);
	}


	.bsas-atributos-uno,
	.bsas-atributos-dos,
	.bsas-atributos-tres,
	.bsas-atributos-cuatro,
	.bsas-atributos-cinco,
	.bsas-atributos-seis,
	.bsas-atributos-siete,
	.bsas-atributos-ocho,
	.bsas-atributos-nueve,
	.cumbrelid,
	.enarg,
	.quotepresidente,
	.quotegral,
	.impactolobal,
	.continuidad {
		background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}


		/* Atributos */

	.ba-atr-numeros {
		font-size: 55px!important;
	}

	.ba-atr-bajada {
	    font-size: 25px!important;
	}





	
}



@media screen and (max-width: 768px) {


/* Infografía 1 */

	/* Buenos Aires */

	.bsas-ciudad .bsas-header {
	    margin-top: 100px;
	}

	.bsas-iconos {
		bottom: 33%;
	}

	/* Distancias */

	.bsas-distancias img {
	    max-width: 260px;
	    margin-top: 50px;
	}

	/* Atributos */


	.ba-atributos-info {
    	width: 35%;
	}

	.ba-atr-numeros {
		font-size: 76px;
	}

	.ba-atr-bajada {
	    font-size: 30px;
	}

	/* Destacados */

	.ba-destacados-burbujas:nth-of-type(1),
	.ba-destacados-burbujas:nth-of-type(3) {
		width: 180px;
		height: 180px;
		border-radius: 90px;
	}

	.ba-destacados-burbujas:nth-of-type(2),
	.ba-destacados-burbujas:nth-of-type(4) {
		width: 160px;
		height: 160px;
		border-radius: 80px;
	}

	
	
}


@media screen and (max-width: 575px) {
	

		/* Buenos Aires */

	.bsas-ciudad .bsas-header {
	    margin-top: 100px;
	}

	.bsas-iconos {
		width: 90%;
		bottom: 10%!important;
    	left: 5%;
	}

	/*Destacados*/

	.bsas-destacados-img {
		display: none;
	}


	/*Atributos*/

	.ba-atributos-info {
    	width: 75%!important;
	}

	.ba-atr-numeros {
		font-size: 90px!important;
	}

	.ba-atr-bajada {
	    font-size: 40px!important;
	}

}

/* 15.2 Tablet
------------------------
*/



@media screen and (max-width: 991px) {



}



@media screen and (min-width: 577px) and (max-width: 767px) {



}


@media screen and (min-width: 768px) and (max-width: 991px) {



}






/* =====================
    15.0 Parallax
   ===================== */




.parallax-container {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.parallax-container .parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax-container .parallax img {
  opacity: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pin-top, .pin-bottom {
  position: relative;
}

.pinned {
  position: fixed !important;
}
